@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

:root {
  --main-color: hsl(221, 99%, 51%);
  --hover-color: hsl(221, 99%, 45%);
  --delete-color: hsl(0, 100%, 90%);
}

body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}

h1 {
  font-family: "Shadows Into Light", Arial, Helvetica, sans-serif;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid var(--main-color);
  margin-bottom: 4px;
}

button {
  background: var(--main-color);
  color: white;
  padding: 10px 20px;
  border: 1px solid var(--main-color);
  font-weight: bold;
  border-radius: 8px;
  box-shadow: hsla(240, 30%, 28%, 0.25) 0px 2px 5px -1px,
    hsla(0, 0%, 0%, 0.3) 0px 1px 3px -1px;
}

#tab-btn:hover,
#input-btn:hover {
  background: var(--hover-color);
}

#tab-btn:active,
#input-btn:active {
  transform: scale(0.98);
  box-shadow: hsla(240, 30%, 28%, 0.25) 0px 1px 3px -1px,
    hsla(0, 0%, 0%, 0.3) 0px 0px 1px -1px;
}

#delete-btn {
  background: white;
  color: var(--main-color);
}

#delete-btn:hover {
  background: var(--delete-color);
  color: var(--main-color);
}

ul {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
}

li {
  margin-top: 5px;
}

a {
  color: var(--main-color);
}

/* tooltip for the delete button */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--main-color);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 15px;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -75px;
  font-size: 12px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 0.5s;
  transition-delay: 0.5s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--main-color) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.8;
}
