@import url("https://fonts.googleapis.com/css2?family=Pompiere&display=swap");

:root {
  --main-color: hsl(221, 99%, 51%);
  --hover-color: hsl(221, 99%, 45%);
  --delete-color: hsl(0, 100%, 90%);
}

body {
  margin: 0;
  padding: 10px;
  font-family: "Pompiere", Arial, Helvetica, sans-serif;
  min-width: 400px;
}

label {
  font-size: 20px;
}

input {
  padding: 5px;
  background-color: rgb(227, 244, 255);
  font-size: 18px;
  box-shadow: black 3px 3px 0;
  border-radius: 5px;
  display: block;
  width: 235px;
}

#inputFahrenheit {
  margin-bottom: 30px;
}

.inputs {
  max-width: fit-content;
  background-color: rgb(246, 218, 255);
  border-radius: 8px;
  border: 2px solid rgba(154, 19, 207, 0.52);
  padding: 15px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
